Flask
gunicorn

flask-cors
Flask-Login
Flask-WTF
Flask-SQLAlchemy
SQLAlchemy

google-auth
google-auth-oauthlib
Authlib

requests

numpy
opencv-python
pillow

python-dotenv

Jinja2
Werkzeug
MarkupSafe
itsdangerous
click
