Flask
gunicorn

Flask-SQLAlchemy
SQLAlchemy

Flask-Login
Flask-WTF
Flask-Cors

python-dotenv

requests
oauthlib
requests-oauthlib

google-auth
google-auth-oauthlib

pillow
numpy

Werkzeug
Jinja2
itsdangerous
click

bcrypt
Flask-Bcrypt
